# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env/
.venv/

# Editor settings
.vscode/

# Docker-related
*.log
*.pid
*.seed
*.pid.lock
.dockerignore

# Environment / secrets
.env
